<div class="container-fluid m-10" style="background-color: bisque; padding-top: 50px;">
  <div class="container mt-5">

    <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let product of filteredProducts">

        <div class="card h-100 shadow">

          <!-- รูปสินค้า -->
          <img [src]="product.image || 'https://via.placeholder.com/300'" class="card-img-top" alt="product">

          <div class="card-body">

            <h5 class="card-title">
              {{product.name}}
            </h5>

            <p class="card-text">
              {{product.description}}
            </p>

            <p class="text-success fw-bold">
              {{product.sales}} บาท
            </p>
            <div class="price-box">

              <div *ngIf="product.price == product.cost" class="badge-sale">
                🔥 ลดราคา
              </div>

              <span *ngIf="product.price == product.cost">
                <del style="opacity: 50%;">฿ {{ product.sales }}</del>
                <span class="discount" style="color: red;">
                  -{{ ((product.sales - product.cost) / product.sales * 100) | number:'1.0-0' }}%
                </span>
              </span>
              <br>
              <span *ngIf="product.price == product.cost">
                 ฿{{ product.price }}
              </span>

            </div>


            <span class="badge bg-primary">
              {{product.category?.name}}
            </span>

            <p class="text-danger mt-2">
              Stock : {{product.stock}}
            </p>

          </div>

          <div class="card-footer bg-white border-0">

            <button class="btn btn-outline-primary w-100 mb-2">
              ดูสินค้า
            </button>

            <button class="btn btn-success w-100" [disabled]="product.stock <= 0" (click)="addToCart(product)">
              <span *ngIf="product.stock > 0">เพิ่มลงตะกร้า</span>
              <span *ngIf="product.stock <= 0">สินค้าหมด</span>
            </button>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>